.card {
    margin-top: 20px;
}

.mat-card-subtitle {
    font-size: large;
    margin: 10px;
}

.mat-form-field {
    width: 100%;
    margin: 10px;
    margin-top: 20px;
}

/*Button Raised Success - class="mat-raised-button"*/
.mat-button.mat-success{
    color: #155724;
}

.mat-raised-button.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.btnAceptar {
    margin-right: 5px;
}


