<div class="title">
    <h1>See Pet</h1>
</div>

<div class="container">
    <mat-card class="card">
        <mat-card-title>Zeus</mat-card-title>
        <mat-card-content>
            <p><strong>Colorcast:</strong>Labrador</p>
            <p><strong>Color:</strong>Café</p>
            <p><strong>Weigth:</strong>25 Kg</p>
            <p><strong>Age:</strong>4 años</p>
            <div>
                <button mat-raised-button color="warn" routerLink="/listPets"> <mat-icon fontIcon="arrow_back"></mat-icon> Volver </button>
            </div>
        </mat-card-content>           
    </mat-card>
</div>
